[Unit]
Description=Node Gateway

[Service]
ExecStart=/u01/app/node-gateway/server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/u01/app/node-gateway

[Install]
WantedBy=multi-user.target
